// .navbar-inner {
//   background-image: none !important;
//   background-color: #3f5f7b !important;
//   height: 200px !important;
// }

#main-container {
  // position: relative !important;
  // top: 20px !important;
  // z-index: 2000 !important;
  background-color: white !important;
  min-width: 960px;
  padding: 20px;
}

div.table-actions {
  float: right;
  margin-bottom: 10px;
}

td.image {
  text-align: center !important;
}